/* Add CSS styling here */
*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


html{
    font-size: 62.5%;
}

header{
    width: 100%;
    display: flex;
    font-size: large;
    flex-direction: row;
    justify-content: space-between;
}

.myname{
    margin-top: 50px;
    font-size: 50px;
    margin-left: 20px;
}


.bar{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 999;
    padding-top: 40px;
    
}
   
a{
    padding:8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-decoration: none;
}


 a.heihei{
     background-color: lightblue;
 }
 div .home{
    background-color: black;
}
 /* #about div{
     display: flex;
     justify-content: space-evenly; */
 
   


.only{
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 0;
    align-items: center;
}

#top{
    height:90vh;
    background-image:url('../assets/top.jpeg');
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    align-items:center;
    /* margin-left: 8%;
    margin-right: 8%; */
    background-size: 160em 90em;
    
}
.big-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.8rem;
    /* padding:2% 4%; */
    /* margin-top:4%; */
}

h2{
    font-size: 90px;
}
.b1 {
    height: 50px;
    width: 300px;
}

#about{
    display:flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
}

.img_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img.pic {
    width: 600px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
}

.pic_box {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.h3 {
    font-family: serif;
    font-size: 100em;
}

#about{
    height: 85vh;
    display: flex;

}
.cm{
    height: 200px;
  position: relative;
  
}
.vertical-center {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}





.pic_box1{
    margin-right: 2%;
}
.pic_box2{
    margin-right: 2%;
}
.pic_box3{
    margin-right: 2%;
}
.pic_box4{
    margin-right: 2%;
}
.pic_box5{
    margin-right: 2%;
}
.pic_box6{
    margin-right: 2%;
}
h3{
    text-align: center;
    font-size: 2rem;
}


 @media (max-width:800px){
    .myname{
    width: 40%;
    font-size: 6rem;
    }
   
   #about{
       flex-wrap: wrap;
       

   }
   div.pic_box1{
       width: 70px;
   }
   div.pic_box2{
       width: 70px;
   }
   div.pic_box3{
       width: 70px;
   }
.pic_box4{
    width: 70px;
}
.pic_box5{
    width: 70px;
}
.pic_box6{
    width: 70px;
}
} 
@media (max-width:500px){
    .myname{
        margin-left: 30%;
        font-size: 6rem;
        
    }
    ul a{
        display: block;
        width: 100%;
        font-size: 5rem;
    }
    ul.only{
        width: 100%;
        margin-top: 40%;
       margin-left: -80%;
    }
    #top{
        width: 120%;
        height: 350px;
        margin-left: 4%;

    }
    h2{
        font-size: 7rem;
        margin-top: -10%;
    }
    #about{
      margin-top: 20%;
    }
    
    
}







